# node
node_modules

# project
./utils

# packages
packages/**/lib
packages/**/node_modules
packages/**/tests/test.js
packages/**/tests/build
packages/**/tests/.dll
packages/**/tests/.babelCache
packages/**/tests/.terserCache