scripts
node_modules
utils
*.ts
packages/**/lib
packages/**/node_modules
packages/**/test/test.js
packages/**/test/build
packages/**/test/.dll
packages/**/test/.babelCache
packages/**/test/.terserCache