# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log
.yarnrc.yml
.yarnrc
.yarn/*
.pnp.js

# webstorm
.idea
.DS_Store
package.json.lerna_backup

# packages
packages/**/lib
packages/**/node_modules
packages/**/npm-debug.log
packages/**/package-lock.json
packages/**/yarn.lock
packages/**/yarn-error.log
packages/**/build
packages/**/dist
packages/**/.sweet

# util-tools
packages/util-tools/test/**/*.webp
packages/util-tools/test/**/output

# docs
storybook-static/*