# node
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml

# yarn
yarn.lock
yarn-error.log
.yarnrc
.yarn/*
!.yarn/releases

# webstorm
.idea
.DS_Store
package.json.lerna_backup

# packages
packages/**/lib
packages/**/esm/**/*.js
packages/**/esm/**/*.mjs
packages/**/esm/package.json
packages/**/node_modules
packages/**/npm-debug.log
packages/**/package-lock.json
packages/**/yarn.lock
packages/**/yarn-error.log
packages/**/build
packages/**/dist
packages/**/dist-server
packages/**/.sweet

# util-tools
packages/util-tools/test/**/*.webp
packages/util-tools/test/**/output

# docs
storybook-static/*